@import './settings.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $color-dark;
  color: $color-light;
}

h1 {
  text-align: center;
}

.button_container {
  display: flex;
  justify-content: center;
  text-align: center;
}
